html { height: 100% }

* html body { height: 100% } /*Для IE, т.к. он не поддерживает min-height*/ 

body{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    min-height: 100%;
    height: 100%;
}

* { box-sizing: border-box;}

form{   margin: 0 0 0 0;  padding: 0 0 0 0; }
img {   border: 0 none; }

table{	border-collapse: collapse;	font-family: inherit; }
td     {  	vertical-align: top; padding: 0;}

#header {
    overflow: hidden;
}

#toc {
    overflow-y: auto;
    overflow-x: visible;
    position:fixed;
    z-index: 101;
}

#pane {
    padding: 0;
    margin: 0;
    border: 0;
    position: fixed;
    z-index: 0;
}

/********************************************************************/
/* Menubar stuff                                                    */
.menubar{
        width: 100%;
        display: block;
        overflow: hidden;
        position: fixed;
        z-index: 10;
}

div.menubutton  {
    display: inline-block;
    float: left;
}

.menubutton a {
    text-indent: 0;
}

.menubar div.float_right {
   float: right !important;
}

#sysmsg {
    display: none;
    overflow: visible;
}

.ei_dialog_notitle .ui-dialog-titlebar {
    display:none;
}

.ui-dialog {
    z-index: 100;
}

.ui-dialog .ui-dialog-titlebar-close span {
    margin: -8px -8px !important;
}

.eiseIntraError {
    border: 1px solid #f30;
    background-color: #ff9966;
    color: #660000;
    line-height: 1.5em;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAIsSURBVDjLpVNLSJQBEP7+h6uu62vLVAJDW1KQTMrINQ1vPQzq1GOpa9EppGOHLh0kCEKL7JBEhVCHihAsESyJiE4FWShGRmauu7KYiv6Pma+DGoFrBQ7MzGFmPr5vmDFIYj1mr1WYfrHPovA9VVOqbC7e/1rS9ZlrAVDYHig5WB0oPtBI0TNrUiC5yhP9jeF4X8NPcWfopoY48XT39PjjXeF0vWkZqOjd7LJYrmGasHPCCJbHwhS9/F8M4s8baid764Xi0Ilfp5voorpJfn2wwx/r3l77TwZUvR+qajXVn8PnvocYfXYH6k2ioOaCpaIdf11ivDcayyiMVudsOYqFb60gARJYHG9DbqQFmSVNjaO3K2NpAeK90ZCqtgcrjkP9aUCXp0moetDFEeRXnYCKXhm+uTW0CkBFu4JlxzZkFlbASz4CQGQVBFeEwZm8geyiMuRVntzsL3oXV+YMkvjRsydC1U+lhwZsWXgHb+oWVAEzIwvzyVlk5igsi7DymmHlHsFQR50rjl+981Jy1Fw6Gu0ObTtnU+cgs28AKgDiy+Awpj5OACBAhZ/qh2HOo6i+NeA73jUAML4/qWux8mt6NjW1w599CS9xb0mSEqQBEDAtwqALUmBaG5FV3oYPnTHMjAwetlWksyByaukxQg2wQ9FlccaK/OXA3/uAEUDp3rNIDQ1ctSk6kHh1/jRFoaL4M4snEMeD73gQx4M4PsT1IZ5AfYH68tZY7zv/ApRMY9mnuVMvAAAAAElFTkSuQmCC);
    background-repeat: no-repeat;
    background-position-x: 5px;
    background-position-y: 1px;
    padding-left: 14px;
}

/* /Menubar stuff                                                   */
/********************************************************************/

/********************************************************************/
.eiseIntraForm  fieldset{
    margin-left: 0.5%;
    margin-top: 1.5em;
    padding: 0.25% 0.25%;
    position: relative;
    z-index: 0;
}

.eiseIntraForm legend{
    position: absolute;
    height: 1.4em;
    line-height: 1.4em;
    position: absolute;
    top: -1.5em;
    left: 0.5em;
    z-index: 0;
}

.eiseIntraForm  fieldset.half_screen
{
    width: 48%;
    display: inline-block;
    vertical-align: top;
}

.eiseIntraForm  fieldset.third_screen
{
    width: 31%; 
    display: inline-block;
    vertical-align: top;
}


.eiseIntraForm  div.eiseIntraField {
    line-height: 1.5em;
    overflow: hidden;
}

.eiseIntraForm  fieldset label,.eiseIntraForm  fieldset .eiseIntraValue {
    display: inline-block;
    vertical-align: top;
}

.eiseIntraForm  label{
    float: left;
    clear: left;
    cursor: default !important;
    width: 23%;
    padding-right: 1% !important;
}

.eiseIntraForm label.eiseIntraValue {
    text-align: left;
}

.eiseIntraForm .eiseIntraValue{
    clear: right;
    width: 73%;
}
.eiseIntraForm .eiseIntra_hasUOM{
    clear: none !important;
    width: auto !important;
}
.eiseIntraForm .eiseIntra_UOM{
    margin-left: 1% !important;
    width: auto !important;
}

.eiseIntraForm .eiseIntraValue_next {
    margin-left: 25%;
}

.eiseIntraLogData {
    overflow: hidden;
}

.eiseIntraMultiple fieldset {
    float: left;
}
.eiseIntraMultiple fieldset.eiseIntraMainForm {
    width: 59%;
}
.eiseIntraMultiple fieldset.eiseIntraActions  {
    width: 34.7%;
}
.eiseIntraMultiple input.eiseIntraRadio {
    margin-left: 5% !important;
}

.eiseIntraActions input.eiseIntraRadio  {
    margin-left: 20%;
}
.eiseIntraActions label.eiseIntraRadio  {
    width: 70%;
    float: none;
    clear: right;
    cursor: pointer;
    display: inline-block;
    padding-left: 1%;
}

.eiseIntraCheckboxSet input  {
    width: auto;
    clear: left;
    float: left;
}
.eiseIntraCheckboxSet label  {
    width: 200px;
    float: none;
    clear: right;
    cursor: pointer;
    display: inline-block;
    text-align: left !important;
    padding-left: 1%;
    float: left;
    font-weight: normal !important;
}

.eif_actionButtons input {
    display: inline-block;
    vertical-align: middle;
}

.eif_actionButtons {
    text-align:center;
    line-height:1.5em;
}

.eiseIntraLogTitle {
    overflow: hidden;
}

.eiseIntraLogStatus .eiseIntraLogTitle span{
    float: left;
    display: inline-block;
}

.eiseIntra_stlTitle {
    font-size: 1.2em;
    padding-right: 5%;
}

.eiseIntra_stlATA, .eiseIntra_stlATD {
    padding: 0 1%;
    overflow: visible;
    font-weight: normal;
    white-space: nowrap;
    display: inline;
}

.eiseIntra_stlATA:after {
    content: " - ";
}

.eiseIntraHistoryTable {
    border-collapse: collapse;
}
.eiseIntraHistoryTable TR {
    vertical-align: top;		
}

.eiseIntraHistoryTable TH,.eiseIntraHistoryTable  TD {
    white-space: nowrap;
}

/********************************************************************/

/*************************************************/
/* Comments                                      */
textarea.eiseIntraComment {
    width: 100%;
}
div.eiseIntraComment {
    border-top: 1px solid #f4f4f4;
}
.eiseIntraComment_contols {
   position: absolute;
   display: none;
   z-index: 100;
}

.eiseIntraComment_contols input{
    width: 20px !important;
    height: 20px !important;
    padding: 0 !important;
    border-left: 1px solid #f4f4f4;
    border-top: 1px solid #f4f4f4;
    border-right: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
    border-radius: 2px;
    display: none;
}

.eiseIntraComment_userstamp {
   font-style: italic;
   font-size: 90%;
   color: buttonshadow;
   width: auto;
}

.eiseIntra_unattach {
    cursor: pointer !important;
}

/*****************************************************/
/* status button for modal status screen  */
/*****************************************************/
.statusTitle {
    margin-bottom: 15px;
    margin-left: 50%;
    margin-top: -28px;
    text-align: right;
}
.eif_curStatusTitle {
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}

.eif_curStatusTitle {
    border: 1px solid transparent;
}

.eif_curStatusTitle u {
    text-decoration: none;
    border-bottom: 1px dotted black;
}

.eif_curStatusTitle:hover {
    border: 1px dotted black;
}

.eif_curStatusTitle:after { 
    content: " \25bc  ";
}
/*****************************************************/
/* /status modal screen  */
/*****************************************************/

/*****************************************************/
/* ajax-filled forms/lists  */
/*****************************************************/
.eif_template {
    display: none !important;
}

.eif_invisible {
    display: none;
}

.eif_spinner > *, .eif_notfound > * {
    min-height:150px;
    max-height:150px;
    height:150px;
    text-align: center;
    vertical-align: middle;
}

.eif_spinner {
    background: url("/common/images/spinner_large.gif") no-repeat scroll center center transparent;
}


/*****************************************************/
/* eiseIntraActionLog */
/*****************************************************/
#eiseIntraActionLog {
    display: none;
}

.eiseIntraActionLogTable {
    font-size: 8pt;
    border-bottom: 1px solid gray;
    width: 100%;
}
.eiseIntraActionLogTable td {
    padding: 2pt;
}
.eiseIntraActionLogTable .eif_actTitlePast {
    font-weight: bold;
}
.eiseIntraActionLogTable .eif_startblock td {
    border-top: 1px solid gray;
}
.eiseIntraActionLogTable .eif_commentsTitle {
    text-align: right;
}

/*****************************************************/
/* /eiseIntraActionLog */
/*****************************************************/


/*****************************************************/
/* eiseIntraFileList */
/*****************************************************/
#eiseIntraFileList {
    display: none;
}

.eiseIntraFileListTable {
    font-size: 8pt;
    border-bottom: 1px solid gray;
    width: 100%;
}
.eiseIntraFileListTable td {
    padding: 2pt;
}
.eiseIntraFileListTable .eif_actTitlePast {
    font-weight: bold;
}
.eiseIntraFileListTable .eif_startblock td {
    border-top: 1px solid gray;
}
.eiseIntraFileListTable th {
    border-bottom: 1px solid gray;
}

#eif_frmAttach {
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    text-align:center;
}

#eif_frmAttach input {
    width: 40%;
}

.eif_filUnattach {
    cursor: pointer;
}
/*****************************************************/
/* /eiseIntraFileList */
/*****************************************************/


/*****************************************************/
/* eiseIntraMessages */
/*****************************************************/
#eiseIntraMessages, #eiseIntraMessageForm {
    display: none;
}

.eiseIntraMessageField label {
    width: 13%;
    font-weight: bold;
    text-align: right;
}

.eiseIntraMessageField label {
    clear: left;
    cursor: default !important;
    float: left;
    padding-right: 1% !important;
}

.eiseIntraMessageField .eiseIntraValue, .eiseIntraMessageField span {
    width: 83%;
}

.eiseIntraMessageField {
    font-size: 8pt;
    width: 100%;
}

.eif_msgInsertDate {
    float: right;
    color: #666;
    font-size: 0.9em;
}

.eif_msgSubject {
    font-weight: bold;
    font-size: 1.1em;
}

.eif_msgText {
    border-top: 1px dotted #666;
    font-family: monospace, "Courier New";
    min-height: 4em;
    padding: 0.25em 1em;
}

.eiseIntraMessage {
    border-top: 1px solid #666;
    padding: 0.25em;
}

.eiseIntraMessageBody textarea {
    width: 100% !important;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 6em;
}

.eiseIntraMessageButtons {
    text-align:center;
    line-height:1.5em;
}


/*****************************************************/
/* /eiseIntraMessages */
/*****************************************************/
