/********************************************************************/
/* Header stuff                                                     */
#corner_logo{
    background-image: url(/common/images/logo2017.png);
	background-size: auto 48px;
	background-repeat: no-repeat;
	height: 60px;
	width: 161px;
	font-size: 0;
	float: left;
	margin-right: 20px;
    margin-left: 10px;
    margin-top: 2px;
}
#app_title{
    color: #06183D;
    text-shadow: 1px 1px 2px #646464; 
    font-family: Arial,sans-serif;
    font-size: 31px;
    font-weight: 100;
    height: 50px;
    left: 50%;
    letter-spacing: 7px;
    line-height: 27px;
    margin: 0 -300px;
    overflow: visible;
    padding: 12px 0px 7px 0px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 0;
    width: 600px;
}
#app_warning {
    color: #f30;
    font-family: Arial,sans-serif;
    font-size: 15px;
    height: 13px;
    letter-spacing: 7px;
    line-height: 15px;
    margin-top: -50px;
    padding: 37px 170px 0 10px;
    text-align: center;
    text-transform: uppercase;
}
#login_info{
	font: 11px Tahoma, Arial, Helvetica, sans-serif;
    color: #FF6D10;
    background-color: #06183D;
    height: 14px;
    line-height: 12px;
    position: absolute;
    text-align: center;
    top: 50px;
    width: 100%;
}
#header {
   background-color: #3BACEE;
}
#login_info a:link{
	color: #ccc;
	text-decoration: underline;
}

#login_info a:visited{	color: #ccc; }
#login_info a:hover{ 	color: #fff; }

#languages{
	position:absolute;
	top: 15px;
	left: 100%;
	margin-left: -60px;
}
#languages a{
	padding-left: 18px;
    height: 18px;
    text-indent: 0;
    color: #06183D;
}
#languages a:link{
	text-decoration: none;
}
#languages a:visited{
	text-decoration: none;
	color: #06183D;
}
#languages a:hover{
	text-decoration: underline;
	color: blue;
}
#languages a:active{
	text-decoration: none;
	color: red;
}

#languages a.sel{
	font-weight: bold;
}

.lang-en {
	background: url(/common/images/flags/PNG/gb.png) no-repeat;
}

.lang-ru {
	background: url(/common/images/flags/PNG/ru.png) no-repeat;
}


/* /Header stuff                                                    */
/********************************************************************/