@import url(../../intra.css);

body{
    font-family: Lucida Grande, Tahoma, Helvetica, sans-serif;
    font-size: 8pt;
    color: #000;
}

#toc {
    padding-top: 2px;
    padding-right: 20px;
    font-size: 8pt;
}

#toc li::first-letter {
    text-transform: uppercase;
}

/********************************************************************/
/* Header stuff                                                     */
#corner_logo{
	background-image: url(/common/images/yusen-logo_intra.png);
	background-repeat: no-repeat;
	height: 64px;
	width: 170px;
	font-size: 0;
	float: left;
	margin-right: 20px;
}
#app_title{
    font-family: "Arial Black", Arial, sans-serif;
    font-weight: 900;
    font-size: 31px;
    height: 50px;
    color: #006699;
    padding: 12px 170px 7px 10px;
    text-align: center;
    line-height: 27px;
    text-transform: uppercase;
    letter-spacing: 7px;
}
#app_warning {
    color: #f30;
    font-family: Arial,sans-serif;
    font-size: 15px;
    height: 13px;
    letter-spacing: 7px;
    line-height: 15px;
    margin-top: -50px;
    padding: 37px 170px 0 10px;
    text-align: center;
    text-transform: uppercase;
}
#login_info{
	font: 11px Tahoma, Arial, Helvetica, sans-serif;
    color: #fff;
    height: 12px;
    line-height: 12px;
    position: absolute;
    text-align: center;
    top: 50px;
    width: 100%;
}

#login_info a:link{
	color: #ccc;
	text-decoration: underline;
}

#login_info a:visited{	color: #ccc; }
#login_info a:hover{ 	color: #fff; }

#languages{
	position:absolute;
	top: 15px;
	left: 100%;
	margin-left: -60px;
}
#languages a{
	padding-left: 18px;
    height: 18px;
    text-indent: 0;
    color: #006699;
}
#languages a:link{
	text-decoration: none;
}
#languages a:visited{
	text-decoration: none;
	color: #006699;
}
#languages a:hover{
	text-decoration: underline;
	color: blue;
}
#languages a:active{
	text-decoration: none;
	color: red;
}

#languages a.sel{
	font-weight: bold;
}

.lang-en {
	background: url(/common/images/flags/PNG/gb.png) no-repeat;
}

.lang-ru {
	background: url(/common/images/flags/PNG/ru.png) no-repeat;
}

#header {
   background: White url(/common/images/yusen-bg_intra.png) repeat-x top;
}
/* /Header stuff                                                    */
/********************************************************************/

/* TOC menu stuff */
#toc_button {
    display: inline-block;
    cursor: pointer;
    width: 11px;
    height: 10px;
    background: White url(/common/images/bullet_menuhidden.png) no-repeat;
}

.toc_menushown {
    background: White url(/common/images/bullet_menushown.png) no-repeat !important;
}

/********************************************************************/
/* Menubar stuff                                                    */
.menubar{
    background-color: ButtonFace;
    border-bottom: ButtonShadow;
    font-family: Verdana, Helvetica, sans-serif;
}

div.menubutton  {
    border-left: 1px solid ButtonShadow;
    border-top: 1px solid ButtonFace;
    border-right: 1px solid ButtonFace;
    border-bottom: 1px solid ButtonFace;
    margin: 2px;
    min-width: 100px;
}

div.menubutton:first{
    border: 1px solid ButtonFace;
}

div.menubutton:hover{
    border: 1px solid ButtonShadow;
}

.menubutton a {
    color: #000000;
    font-size: 11px;
    line-height: 16px;
    height: 16px;
    margin: 2px;
    padding: 0 10px 0 24px;
    text-decoration: none;
    display: block;
}

.menubutton a:hover {
    color: #000000;
    text-decoration: underline;
}

.menubar div.float_right {
   float: right !important;
   min-width: 0 !important;
}

.ei_sysmsg_error {
    -webkit-box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.5);  
    -moz-box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.5); 
    box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.5);
}
.ei_sysmsg_info {
    filter:alpha(opacity=90); /* for IE4 - IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)"; /* IE8 */
    -moz-opacity:0.9;
    -khtml-opacity: 0.9;
    opacity: 0.9;
    -webkit-box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.5);  
    -moz-box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.5); 
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.5);
    margin-right: 7px;
    margin-top: 3px;
}

#sysmsg.normal{
    color: Navy;
    padding: 1px 3px 1px 3px;
    top: 3px;
    right: 7px;
    text-align: right;
    border: 1px solid Navy;
    font: bold 0.8em sans-serif;
    background: #B0C4DE;
}
#sysmsg.error {
    color: #CC3300 !important;
    padding: 1px 3px 1px 3px;
    top: 3px;
    right: 7px;
    text-align: right;
    border: 1px solid #660000;
    font: bold 0.8em sans-serif;
    background: #fff0f0;
}

/* /Menubar stuff                                                   */
/********************************************************************/


#frameContent p {

    padding-left: 14px;

}

#frameContent h1 {
   font-size: 20px;
   font-weight: bold;
   margin-top : 5px;
   margin-bottom : 5px;
   margin-left : 20px;
}

.eiseIntraForm  fieldset{
    background-color: #EEEEEE;
}

.eiseIntraForm legend{
    font-size: 1em;
    font-weight: bold;
}

.eiseIntraForm fieldset:first-of-type {
    margin-top: 25pt;
}

.eiseIntraForm fieldset:first-of-type legend {
    font-size: 14pt;
    line-height: 18pt;
}

.eiseIntraForm  label{
    font-weight: bold;
    font-size: 0.9em;
    margin-top: 0.2em;
    text-align: right;
}

.eiseIntraForm  .eiseIntraValue{
    font-size: 1.1em;
}

fieldset.eiseIntraSubForm  {
    padding: 0 10px;
}

.eiseIntraSubForm  label{
    font-size: 0.8em;
}

.eiseIntraSubForm  .eiseValue{
    font-size: 1.0em;
}

.eiseIntraActions label.eiseIntraRadio  {
    text-align: left !important;
    font-size: 1.0em;
    font-weight: bold;
}

.eiseIntraCheckboxSet input  {
    width: auto !important;
}
.eiseIntraCheckboxSet label  {
    width: 200px !important;
    padding-left: 1% !important;
    font-weight: normal !important;
}

.eiseIntraSubmit {
    font-weight: bold;
    font-size: 1.2em;
    padding: 0.2em 5em;
    margin: 0.2em;
}

.eiseIntraSubForm  .eiseIntraActionButton {
    width: 30%;
}

.eiseIntraSubForm  input#btnsubmit{
    width: 60%;
    margin-left: 25%
    font-weight: bold;
    font-size: 1.1em;
}

div.eiseIntraField {
    background-color: #eee;
    padding-top: 2px;
    padding-bottom: 2px;
}

.eiseIntraLogStatus {
    background: #f9f9f9;
    border: 1px solid buttonHighlight;
    padding: 0 5px 5px 5px;
    margin-bottom: 2px;
}

.eiseIntraLogAction {
    background: #F0F0F0;
    border: 1px solid buttonHighlight;
    padding: 5px 5px 5px 5px;
    margin-bottom: 2px;
}

.eiseIntraLogData {
    padding-left: 20px;
    padding-bottom: 10px;
}

.eiseIntraLogTitle {
    font-weight: bold ;
    font-family: Tahoma ;
    border-bottom: 1px solid buttonShadow;
    padding-left: 2px;
    margin-bottom: 5px;
}

.eiseIntraLogSubtitle {
    float:left;
    padding-right: 10px;
}


.eiseIntraLogStatus label {
    width: 70px !important;
}

.eiseIntraLogStatus div{
    padding-bottom: 0 !important;
}


.intraField div{
    float: left;
}

.intraField input, .intraField select, .intraField textarea,  .intraField div{
    width: 250px;
    font-size: 11px;
}

input.eiseIntra_date, input.eiseIntra_datetime {
    background: #fff url("/common/images/sprites/sprites.png") no-repeat right -2899px;
    padding-right: 5px;
    padding-right: 20px;
}

.eiseIntra_ajax_dropdown {
    background-image: url("/common/images/sprites/sprites.png");
    background-position: right -17947px;
    background-repeat: no-repeat;
    padding-right: 20px;
}

.eiseIntra_date {width: 8em !important;}   .eiseIntra_datetime {width: 14em !important;}

.intra_uom {
    width: 4em !important;
}

.intraForm {
  float:left;
  width: 100%;
}	

.intraFormRow {
    margin-bottom:0.5em;
    overflow:hidden;
}

.intraFieldTitle {
    font-weight: bold ;
    font-family: Tahoma ;
    float:left;
    padding:0 10px;
    text-align:right;
    width:150px;
}



.intraFieldValue {
    font-size: 1.1em;
    float: left;
}

input.intraTime{
    width: 30px;
}



.eiseIntraHistoryTable {
    background: Buttonshadow;
    font-size: 11px;
    border: 1px solid ButtonShadow;
}
.eiseIntraHistoryTable TR {
    height: 14px;
}

.eiseIntraHistoryTable TH,.eiseIntraHistoryTable  TD {
    padding: 2px 3px;
}

/*************************************************/
/* Comments                                      */
div.eiseComment {
   padding: 4px 4px 4px 4px;
   width: inherit;
   white-space:normal;
}
div#eiseComment {
   border: buttonshadow 1px solid; 
   margin-left: 2px;
}

#eiseComment_contols {
   text-align:right;
   vertical-align:  bottom;
   width: inherit;
   /* border:buttonshadow 1px solid; */
   margin-left: 1px;
   position: absolute;
   visibility: hidden;
}
#eiseComment_attach  {
   width: 16px;
   height: 16px;
}
#eiseComment_add  {
   width: 16px;
   height: 16px;
}
#eiseComment_delete {
   width: 16px;
   height: 16px;
   visibility: hidden;
   position: absolute;
   /* border: buttonshadow 1px solid; */
}
.eiseComment_userstamp {
   font-style: italic;
   font-size: 90%;
   color: buttonshadow;
   width: auto;
}

option.deleted {
    color: #999;
}

/*************************************************/
/* Backward compatibility                        */
.field_title {
    font-weight: bold ;
    font-family: Tahoma ;
    font-size: 0.9em;
    text-align: right;
    white-space: nowrap;
    vertical-align: top;
    padding-right: 5px;
    padding-top: 3px;
    padding-left: 5px;
}
.field_value {
    padding-right: 5px;
    padding-top: 3px;
    padding-left: 5px;
    border-left: buttonshadow 1px solid;
    width: 100%;
}
.tr0 {background:#FFFFFF;}
.tr1 {background:#F0F0F0;}


.spinner {
	background-image: url('img/spinner.gif');
	background-position: 0 0;
	background-repeat: no-repeat;
	padding-left: 20px;
}

.ui-autocomplete-loading {
    background: white url("img/spinner16x16.gif") right center no-repeat;
  }