.eiseList {
    width: 100%;
    & h1 {
        float: left;
        margin: 0;
        font-size: @el-h1-font-size;
        font-weight: bold;
        font-family: @el-h1-font-family;
        padding-left: @el-h1-font-size/2;
    }

}

.el-header {
    width: 100%;
    overflow: hidden;
    line-height: 2em;
}

.el-foundRows {
    float: right;
    display: none;
    padding-left: 0.33em;
    &:before {
        content: ' (';
    }
    &:after {
        content: ')';
    }
    font-weight: normal;
}


.el_filterset {
    padding: 0 !important;
    margin: 0 !important;
}



.el-controlBar {
    float: right;
}

.el-controlBar input
, .el-controlBar select {
    width: auto;
}

div.el-table {
    overflow: auto;
    background: @background-color;

    & table {

        position: relative;
        table-layout: fixed;
        width: 100%;

        & thead th {
            position: sticky;
            position: -webkit-sticky;
            top: 0;
            padding: 0;
            z-index: 87;

            & .ui-resizable-handle {
                cursor: col-resize !important;
                z-index: 88;       
            }
            & .el-resizable-helper {
                border: 1px solid red;       
            }

            & .el-title {
                color: @header-color;
                text-align: center;
                padding: 0.333333em 0.833333335em;
                font: @th-font;
            }
        }

        & tbody td.el-sticky-left {
          position: sticky;
          left: 0;
          z-index: 87;
          background: white;
        }

        & tfoot, & tfoot th, & tfoot td {
            position: sticky;
            position: -webkit-sticky;
            bottom: 0;
            padding-top: 0;
            z-index: 87;
        }

        & tfoot tr {
            background-color: #fff;
            border-collapse: separate !important;
            border-top: 1px solid @border-color;
            & td {
                border-collapse: separate !important;
                border-top: 1px solid @border-color;
                font-weight: bold;
                border-bottom: none;
                background-color: @el-background-even;
            }
        }
        
    }
}



td.el-boolean {
    color: transparent;
    text-align: center;
    background: @el-boolean-background !important;
}

td.el-boolean-s {
    background: @el-boolean-background-selected !important;
}

.el-checkbox  { 
    text-align: center; 
    &  input{    width: auto; }
}

.el-tr0 { background-color: @el-background-even; }
.el-tr1 { background-color: @el-background-odd; }
.el-selected { background-color: @selected-row-color !important; }

.el-data td, .el-table tfoot td {
    border-right: 1px solid @border-color;
    border-bottom: 1px solid @border-color;
    background: transparent;
    padding-left: 4px;
    padding-top: 2px;
    padding-right: 4px;
    padding-bottom: 0px;
    font-family: @font-family;
    font-size: 12px;
    height: 16pt;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.el-numeric
, .el-num
, .el-real
, .el-number
, .el-money
, .el-integer
, .el-int {
    text-align: right;
}

.el-num { width: @el-width-num; }
.el-numeric { width: @el-width-numeric; }
.el-number { width: @el-width-number; }
.el-integer { width: @el-width-integer; }
.el-real { width: @el-width-real; }
.el-money { width: @el-width-money; }
.el-date { width: @el-width-date; }
.el-datetime { width: @el-width-datetime; }
.el-time { width: @el-width-time; }
.el-boolean { width: @el-width-boolean; }
.el-checkbox { width: @el-width-checkbox; }
.el-text { width: @el-width-text; }
.el-combobox { width: @el-width-combobox; }
.el-select { width: @el-width-select; }
.el-ajax_dropdown { width: @el-width-select; }

.el-spinner {
    display: none;
    & div {

        width: 100vw;
        
        background: @el-spinner-background;
        height: @el-spinner-height;
        text-align: center;
        margin-top: calc(@el-spinner-height - @el-spinner-font-size*1.2);
        font-size: @el-spinner-font-size;
        text-shadow: #ccc -1px -1px 0px;

    }
    
}

.el-notfound {
    display: none;
    & div {
        width: 100vw;
        
        background: transparent;
        height: @el-spinner-height;
        text-align: center;
        margin-top: calc(@el-spinner-height/2 - @el-spinner-font-size/2);
        font-size: @el-spinner-font-size;
        text-shadow: #ccc -1px -1px 0px;

    }
}


.eiseList thead th
, .eiseList thead td {
    padding: 0;
}

.el-sortable div.el-title {
    cursor: pointer;
}

.el-sorted-asc  div.el-title:before, .el-sorted-asc  div.el-title:after { 
    content: @el-content-sorted-asc;
}
.el-sorted-desc  div.el-title:before, .el-sorted-desc  div.el-title:after { 
    content: @el-content-sorted-desc;
}

.eiseList > form {
    padding: 0 !important;
    margin: 0 !important;
}

.eiseList thead input 
, .eiseList thead select
{
    padding: 0;
    border: 0;
    margin: 0;
    border-radius: 0;
}

.eiseList td, .eiseList th {
    box-sizing: border-box !important;  
    -moz-box-sizing: border-box !important;  
    -webkit-box-sizing: border-box !important;
}

.eiseList th {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.eiseList thead input 
, .eiseList thead select 
{
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.el-template {
    display: none;
}

.el_ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
}

.el_faux_scrollbar-wrap {
    position: fixed;
    z-index: 10;
    right: 0;
    top: 0;
    margin: 0 -1px -1px -1px;
}

.el_faux_scrollbar-wrap {opacity:0.95; border: 0!important;}
.el_faux_scrollbar-wrap  .ui-slider { background: none; border:0; height: 2em; margin: auto 0; }
.el_faux_scrollbar-wrap .ui-handle-helper-parent { position: relative; width: 100%; height: 100%; margin: 0 auto; }
.el_faux_scrollbar-wrap .ui-slider-handle {margin: 0 !important;left:0 !important; opacity: 1;}
.el_faux_scrollbar-wrap .ui-slider-handle .ui-icon {     margin-top: -6px;    position: relative;    top: 50%; }

.el-cellInput {
    display: none;
    border: 0 !important;
    padding-top: 0;
    text-align: inherit;
}

.el_pseudotabs {
    line-height: 0 !important;
    height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
}

.el_div_filter {
    display: none;
}

.el_dialog_notitle .ui-dialog-titlebar {
    display:none;
}

.eiseList thead td.el-tabs-container {
    background: transparent;
    border: none;
    overflow: hidden;
    margin-bottom: -4px;
}

.eiseList td.el-tabs-container .el-tabs {
    margin-bottom: -4px;
}

.eiseList caption.el-tr-tabs {
    z-index: 1;
    caption-side: top;
    text-align: left;
    & .el-tabs-container {
        position:sticky;
        top: 0;
        left:0;
        display: block;
        width: 100vw;
    }
}

.eiseList .el-tr-titles {
    z-index: 2;
}

.el_filter_buttons input[type=button], .el_filter_buttons button {
    padding: 0;
    font-size: 10px;
}

.eiseList thead th
, .eiseList thead td {
    background-color: @header-background-color;
    border-right: 1px solid @border-color;
}

.eiseList thead input 
, .eiseList thead select
{
    height: 14pt;
}

.el-filter {    font-size: 9pt;}
input.el-filter {   padding: 0 5px !important;}






.el_fieldChooser table {
    margin: 0 auto;
}
.el_fieldChooser label {
    float: right;
    width: 200px;
    min-width: 200px;
}



.el_controlBar {
    padding-top: 0.32em;
}

.el_debug  {
    display: none;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 1.2em;
    font-family: Courier New, Courier, fixed;
    color: #f30;
}

.el_filter_date, .el_filter_datetime {
    background-image: @el-icon-calendar;
    background-position: right top;
    background-repeat:no-repeat;  
    padding-right: 18px; 
    width: auto;
}
.el_input_date, .el_input_datetime {
    background-image: @el-icon-calendar;
    background-position: right top;
    background-repeat:no-repeat;  
    padding-right: 18px; 
    width: 8em;
}

.el_dateFrom, .el_dateTill, .el_filter_buttons {
    text-align: center;
    white-space: nowrap;
}

.el_btn_filter_apply, .el_btn_filter_clear, .el_btn_filter_close {
    width: 46px;
    padding: 0;
    height: 20px;
    font-size: 11px !important;
    margin-top: 5px;
}

.el_btn_filter_apply {
    font-weight: bold;
    width: 70px;
}