.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}
.eif-field {
  margin-bottom: 15px;
}
.has-success .eif-field > label {
  color: #3c763d;
}
.has-warning .eif-field > label {
  color: #8a6d3b;
}
.has-error .eif-field > label {
  color: #a94442;
}
@media (min-width: 768px) {
  .form-inline .eif-field {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .form-inline .eif-field > label {
    margin-bottom: 0;
    vertical-align: middle;
  }
}
.form-horizontal .eif-field {
  margin-left: -15px;
  margin-right: -15px;
}
@media (min-width: 768px) {
  .form-horizontal .eif-field > label {
    text-align: right;
    margin-bottom: 0;
    padding-top: 7px;
  }
}
@media (min-width: 768px) {
  .form-horizontal .form-group-lg .eif-field > label {
    padding-top: 14.333333px;
    font-size: 18px;
  }
}
@media (min-width: 768px) {
  .form-horizontal .form-group-sm .eif-field > label {
    padding-top: 6px;
    font-size: 12px;
  }
}
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
@media (min-width: 768px) {
  .navbar-form .eif-field {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .navbar-form .eif-field > label {
    margin-bottom: 0;
    vertical-align: middle;
  }
}
@media (max-width: 767px) {
  .navbar-form .eif-field {
    margin-bottom: 5px;
  }
  .navbar-form .eif-field:last-child {
    margin-bottom: 0;
  }
}
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after,
.eif-form > fieldset .form-group:before,
.eif-form > fieldset .form-group:after,
.form-horizontal .eif-field:before,
.form-horizontal .eif-field:after,
.eif-form > fieldset .eif-field:before,
.eif-form > fieldset .eif-field:after {
  content: " ";
  display: table;
}
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after,
.eif-form > fieldset .form-group:after,
.form-horizontal .eif-field:after,
.eif-form > fieldset .eif-field:after {
  clear: both;
}
.eif-form > fieldset {
  background-color: #eeeeee;
  padding-top: 0;
  padding-bottom: 15px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.eif-form > fieldset .radio,
.eif-form > fieldset .checkbox,
.eif-form > fieldset .radio-inline,
.eif-form > fieldset .checkbox-inline {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 7px;
}
.eif-form > fieldset .radio,
.eif-form > fieldset .checkbox {
  min-height: 27px;
}
.eif-form > fieldset .form-group,
.eif-form > fieldset .eif-field {
  margin-left: -15px;
  margin-right: -15px;
}
@media (min-width: 768px) {
  .eif-form > fieldset .control-label,
  .eif-form > fieldset .eif-field > label {
    text-align: right;
    margin-bottom: 0;
    padding-top: 7px;
  }
}
.eif-form > fieldset .has-feedback .form-control-feedback {
  right: 15px;
}
@media (min-width: 768px) {
  .eif-form > fieldset .form-group-lg .control-label,
  .eif-form > fieldset .form-group-lg .eif-field > label {
    padding-top: 14.333333px;
    font-size: 18px;
  }
}
@media (min-width: 768px) {
  .eif-form > fieldset .form-group-sm .control-label,
  .eif-form > fieldset .form-group-sm .eif-field > label {
    padding-top: 6px;
    font-size: 12px;
  }
}
.eif-form > fieldset legend {
  margin-bottom: 25px;
  border: none;
}
.eif-field {
  /*
    .make-row();
    .form-group;
    */
}
.eif-field > label {
  position: relative;
  float: left;
  width: 16.66666667%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.eif-field > .eif-value,
.eif-field > .eiseIntraValue {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  position: relative;
  float: left;
  width: 83.33333333%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.eif-field > .eif-value:focus,
.eif-field > .eiseIntraValue:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.eif-field > .eif-value::-moz-placeholder,
.eif-field > .eiseIntraValue::-moz-placeholder {
  color: #999999;
  opacity: 1;
}
.eif-field > .eif-value:-ms-input-placeholder,
.eif-field > .eiseIntraValue:-ms-input-placeholder {
  color: #999999;
}
.eif-field > .eif-value::-webkit-input-placeholder,
.eif-field > .eiseIntraValue::-webkit-input-placeholder {
  color: #999999;
}
.eif-field > .eif-value[disabled],
.eif-field > .eiseIntraValue[disabled],
.eif-field > .eif-value[readonly],
.eif-field > .eiseIntraValue[readonly],
fieldset[disabled] .eif-field > .eif-value,
fieldset[disabled] .eif-field > .eiseIntraValue {
  background-color: #eeeeee;
  opacity: 1;
}
.eif-field > .eif-value[disabled],
.eif-field > .eiseIntraValue[disabled],
fieldset[disabled] .eif-field > .eif-value,
fieldset[disabled] .eif-field > .eiseIntraValue {
  cursor: not-allowed;
}
textarea.eif-field > .eif-value,
textarea.eif-field > .eiseIntraValue {
  height: auto;
}
.eif-field > div.eif-value,
.eif-field > div.eiseIntraValue {
  border: 0;
  box-shadow: none;
  border-radius: 0;
  background-color: transparent;
}
.eiseIntraActionSubmit,
.eif-submit {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #ffffff;
  background-color: #337ab7;
  border-color: #2e6da4;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
.eiseIntraActionSubmit:hover,
.eif-submit:hover,
.eiseIntraActionSubmit:focus,
.eif-submit:focus,
.eiseIntraActionSubmit.focus,
.eif-submit.focus {
  color: #333333;
  text-decoration: none;
}
.eiseIntraActionSubmit:active,
.eif-submit:active,
.eiseIntraActionSubmit.active,
.eif-submit.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.eiseIntraActionSubmit.disabled,
.eif-submit.disabled,
.eiseIntraActionSubmit[disabled],
.eif-submit[disabled],
fieldset[disabled] .eiseIntraActionSubmit,
fieldset[disabled] .eif-submit {
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.eiseIntraActionSubmit:focus,
.eif-submit:focus,
.eiseIntraActionSubmit.focus,
.eif-submit.focus {
  color: #ffffff;
  background-color: #286090;
  border-color: #122b40;
}
.eiseIntraActionSubmit:hover,
.eif-submit:hover {
  color: #ffffff;
  background-color: #286090;
  border-color: #204d74;
}
.eiseIntraActionSubmit:active,
.eif-submit:active,
.eiseIntraActionSubmit.active,
.eif-submit.active,
.open > .dropdown-toggle.eiseIntraActionSubmit,
.open > .dropdown-toggle.eif-submit {
  color: #ffffff;
  background-color: #286090;
  border-color: #204d74;
}
.eiseIntraActionSubmit:active,
.eif-submit:active,
.eiseIntraActionSubmit.active,
.eif-submit.active,
.open > .dropdown-toggle.eiseIntraActionSubmit,
.open > .dropdown-toggle.eif-submit {
  background-image: none;
}
.eiseIntraActionSubmit .badge,
.eif-submit .badge {
  color: #337ab7;
  background-color: #ffffff;
}
.eiseIntraDelete,
.eif-delete {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.eiseIntraDelete:hover,
.eif-delete:hover,
.eiseIntraDelete:focus,
.eif-delete:focus,
.eiseIntraDelete.focus,
.eif-delete.focus {
  color: #333333;
  text-decoration: none;
}
.eiseIntraDelete:active,
.eif-delete:active,
.eiseIntraDelete.active,
.eif-delete.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.eiseIntraDelete.disabled,
.eif-delete.disabled,
.eiseIntraDelete[disabled],
.eif-delete[disabled],
fieldset[disabled] .eiseIntraDelete,
fieldset[disabled] .eif-delete {
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.eiseIntraDelete:focus,
.eif-delete:focus,
.eiseIntraDelete.focus,
.eif-delete.focus {
  color: #333333;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}
.eiseIntraDelete:hover,
.eif-delete:hover {
  color: #333333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.eiseIntraDelete:active,
.eif-delete:active,
.eiseIntraDelete.active,
.eif-delete.active,
.open > .dropdown-toggle.eiseIntraDelete,
.open > .dropdown-toggle.eif-delete {
  color: #333333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.eiseIntraDelete:active,
.eif-delete:active,
.eiseIntraDelete.active,
.eif-delete.active,
.open > .dropdown-toggle.eiseIntraDelete,
.open > .dropdown-toggle.eif-delete {
  background-image: none;
}
.eiseIntraDelete .badge,
.eif-delete .badge {
  color: #ffffff;
  background-color: #333333;
}
.ui-autocomplete-loading {
  background: #ffffff url("img/spinner16x16.gif") right center no-repeat;
}
#loginform > fieldset {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 60px;
  -webkit-box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.5);
}
@media (min-width: 992px) {
  #loginform > fieldset {
    float: left;
    width: 50%;
  }
}
@media (min-width: 992px) {
  #loginform > fieldset {
    margin-left: 25%;
  }
}
#loginform > fieldset legend {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
  margin-top: -20px;
}
#loginform > fieldset legend small,
#loginform > fieldset legend .small {
  font-weight: normal;
  line-height: 1;
  color: #777777;
}
#loginform > fieldset legend small,
#loginform > fieldset legend .small {
  font-size: 65%;
}
#loginform > fieldset .eif-field > label {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 992px) {
  #loginform > fieldset .eif-field > label {
    float: left;
    width: 33.33333333%;
  }
}
#loginform > fieldset .eif-field > .eif-value {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 992px) {
  #loginform > fieldset .eif-field > .eif-value {
    float: left;
    width: 58.33333333%;
  }
}
#loginform input[type="submit"] {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 992px) {
  #loginform input[type="submit"] {
    float: left;
    width: 29.16666667%;
  }
}
